html {
  overflow: hidden;
  body {
    #root {
      font-size: 16px;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "druk";
  src: url("./fonts/DrukWideMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #333538;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #474e57;
    border-color: #474e57;
    transition: all 0.1s ease-in-out;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  label {
    font-family: druk;
    text-align: center;
    margin-bottom: 12px;
  }
}

input {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}

*:focus {
  outline: none;
}

.statusWrapper {
  width: 300px;
  min-height: 50px;
  display: flex;
}

.statusWrapper.withError {
  width: auto;
  min-height: initial;
  color: rgb(179, 41, 41);
  line-height: 20px;
  text-align: center;
  background-color: rgb(223, 187, 187);
  position: relative;
  padding: 15px;

  i {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 3;
    cursor: pointer;
    color: black;

    &:hover {
      color: rgb(179, 41, 41);
    }
  }
}
