.IssueDetailsWrapper {
  flex: 1;
  display: flex;
  min-height: 100vh;

  .statusWrapper {
    margin: auto;
  }

  .IssueTextWrapper {
    margin: 0 auto;
    height: 40%;
    width: 99%;
    overflow: auto;
    border: 1px solid black;
    padding: 8px;
    .IssueText {
      white-space: pre-line;
    }
  }
}
