.IssueDetailsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //padding: 0 10px;

  .statusWrapper {
    margin: auto;
  }

  .IssueTextWrapper {
    width: 100%;
    margin: 0 auto;
    height: 40vh;
    overflow: auto;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    padding: 10px;

    .IssueText {
      white-space: pre-line;
    }
  }

  .controls {
    padding: 12px;
    //margin-top: 15px;
    background-color: #5e9ce2;
    text-align: center;

    button {
    }
  }
}
