.MainWrapper {
  display: flex;
  height: 100vh;

  .main {
    margin: auto;
    display: flex;
    align-items: flex-end;

    input {
      width: 300px;
    }

    button.button {
      display: inline-block;
      width: 120px;
      height: 30px;
      margin-left: 20px;
      font-family: montserrat;
      font-size: 14px;
    }
  }
}
