.issueListContainer {
  width: 40%;
  overflow: hidden;
  display: flex;
  position: relative;
  .lw {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    //background-color: rgba(255, 255, 255, 0.8);
    display: flex;
  }
}

.IssuesListWrapper {
  overflow-y: auto;
  border: 1px solid black;
  position: relative;

  .issueList {
    padding: 0 3px 0 10px;
  }

  .issueItem {
    overflow: hidden;
    height: 100px;
    border: 1px solid black;
    h2 {
      font-size: 16px;
      font-weight: bold;
    }

    div {
      margin-top: 7px;
      font-size: 14px;
      white-space: pre-line;
    }
  }
}
