.IssuesListContainer {
  width: 35%;
  border-right: 1px solid $border-color;
  background-color: rgba(153, 172, 248, 0.1);
}

.IssuesListWrapper {
  padding: 20px 0 0 0;
  width: 100%;
  overflow-y: auto;
  position: relative;

  .issueList {
    padding: 0 13px 0 10px;
  }
}
