.IssueCommentsContainer {
  flex: 1 1;
  background-color: rgba(153, 172, 248, 0.1);
  padding-right: 1px;

  .IssueCommentsWrapper {
    width: 100%;
    overflow-y: auto;

    .IssueCommentsList {
      height: 100%;
      padding: 0 7px;

      .statusWrapper {
        height: 100%;
      }

      .IssueComment {
        white-space: pre-line;
        overflow: hidden;
        margin: 10px 0;
        height: 100px; //adjust  for big screens

        .commentAuthor {
          color: rgb(123, 164, 202);
        }
      }
    }
  }
}
