.IssueCommentsContainer {
  flex: 1;

  .IssueCommentsWrapper {
    width: 100%;
    overflow-y: auto;

    .IssueCommentsList {
      padding: 0 4px;
      .IssueComment {
        white-space: pre-line;
        overflow: hidden;
        margin: 10px 0;
        border: 1px solid black;
        height: 100px; //adjust  for big screens

        .commentAuthor {
          color: rgb(123, 164, 202);
        }
      }
    }
  }
}
