.AuthWrapper {
  position: absolute;
  top: 10px;
  right: 12px;

  .userWrapper {
    display: flex;
    align-items: center;
    color: $main-color;
    font-family: oxygen;
    font-size: 15px;
    position: relative;

    .dropdown {
      position: absolute;
      bottom: -20px;
      right: 0;
    }

    img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      margin-left: 7px;
      cursor: pointer;
    }
  }

  .loaderWrapper {
    position: fixed;
    top: 15px;
    right: 12px;

    span {
      font-size: 16px;
      animation: pulse 1s infinite ease;
    }
  }

  button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 15px;
    background-color: #fff;
    color: $main-color;
    padding: 7px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      color: darken($main-color, 20%);
      border-color: darken($main-color, 20%);
    }
  }
}
