.AuthWrapper {
  position: absolute;
  top: 10px;
  right: 12px;

  .userWrapper {
    display: flex;
    align-items: center;
    color: $main-color;
    font-family: oxygen;
    font-size: 15px;
    position: relative;

    .overlay {
      z-index: 99;
      background-color: transparent;
    }

    .dropdown {
      z-index: 100;
      position: absolute;
      bottom: -30px;
      right: 0;
      font-family: montserrat;
      ul {
        background-color: #fff;
        color: black;
        border: 1px solid #d0d7de;
        border-radius: 3px;
        box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
        li {
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: $main-color;
          }
        }
      }
    }

    img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      margin-left: 7px;
      cursor: pointer;
    }
  }

  .loaderWrapper {
    position: fixed;
    top: 15px;
    right: 12px;

    span {
      font-size: 16px;
      animation: pulse 1s infinite ease;
    }
  }

  button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 15px;
    background-color: #fff;
    color: $main-color;
    padding: 7px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      color: darken($main-color, 20%);
      border-color: darken($main-color, 20%);
    }
  }
}
